# frozen_string_literal: true

module Images
<%- if class_name.include?("::") -%>
<%- class_name.split("::")[0..-2].each_with_index do |mod, i| -%>
<%= "  " * (i + 1) %>module <%= mod %>
<%- end -%>
<%= "  " * class_name.split("::").length %>class <%= class_name.split("::").last %>Editor < ApplicationImageEditor
<%- else -%>
  class <%= class_name %>Editor < ApplicationImageEditor
<%- end -%>
    # Model configuration
    model "<%= options[:model] %>"
    size "<%= options[:size] %>"
<% if options[:content_policy] != "standard" -%>
    content_policy :<%= options[:content_policy] %>
<% end -%>
<% if options[:cache] -%>

    # Caching
    cache_for <%= options[:cache] %>
<% end -%>

    # Optional: Description
    # description "Edits <%= class_name.downcase %> images"
<%- if class_name.include?("::") -%>
<%- class_name.split("::").length.times do |i| -%>
<%= "  " * (class_name.split("::").length - i) %>end
<%- end -%>
<%- else -%>
  end
<%- end -%>
end
