# frozen_string_literal: true

module <%= @root_namespace %>
  module Image
<%- if class_name.include?("::") -%>
<%- class_name.split("::")[0..-2].each_with_index do |mod, i| -%>
<%= "  " * (i + 2) %>module <%= mod %>
<%- end -%>
<%= "  " * (class_name.split("::").length + 1) %>class <%= class_name.split("::").last %>Upscaler < ApplicationImageUpscaler
<%- else -%>
    class <%= class_name %>Upscaler < ApplicationImageUpscaler
<%- end -%>
      # Model configuration
      model "<%= options[:model] %>"
      scale <%= options[:scale] %>
<% if options[:face_enhance] -%>
      face_enhance true
<% end -%>
<% if options[:cache] -%>

      # Caching
      cache_for <%= options[:cache] %>
<% end -%>

      # Optional: Denoise strength (0.0-1.0)
      # denoise_strength 0.5

      # Optional: Description
      # description "Upscales <%= class_name.downcase %> images"
<%- if class_name.include?("::") -%>
<%- (class_name.split("::").length + 1).times do |i| -%>
<%= "  " * (class_name.split("::").length + 1 - i) %>end
<%- end -%>
<%- else -%>
    end
<%- end -%>
  end
end
